.boton{
    background-color: #6278f7;
    border-radius: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 2.4rem 3.2rem;
    border: none;
    color: #ffffff;
    margin: 3.2rem 0;
    cursor: pointer;
}
.boton:hover{
    color: #95ffd4;
    background-color: orange;
}